@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization


<AuthorizeView>
    <NotAuthorized>
        <NavBar />
    </NotAuthorized>
</AuthorizeView>
<div class="page">
    <AuthorizeView>
        <Authorized>
            <div class="sidebar">
                <NavMenu />
            </div>
        </Authorized>
    </AuthorizeView>
    <main>
        <AuthorizeView>

        </AuthorizeView>
        <!--<div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        -->
            @Body
    </main>
</div>
