<header class="header">
    <a href="#" class="logo">triptrove</a>
    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#review">Review</a>
        <a href="#services">Features</a>
        <a href="#portfolio">Destination</a>
        <a href="authentication/login">Login</a>
        <a href="authentication/register">Sign Up</a>
    </nav>
</header>

@code {

}
